<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
</head>
<body>
<div id="app">
<!-- 	<ul>
		<li v-for="schema in schemas ">
			{{schema}}
			<ul>
				<li v-for="table in _.filter(tables, {table_schema: schema})">
					{{table.table_name}}
				</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li v-for="table in tables">
			{{table}}
		</li>
	</ul> -->

</div>

<script type="text/javascript">
Vue.use(SemanticUIVue);

Vue.component()

var app = new Vue({
  el: '#app',
  data: {
    tables: <%- JSON.stringify(data) %>
  },
  computed: {
  	schemas() {
  		return _.uniqBy(this.tables.map(p=>p.table_schema));
  	}
  },
  template: '<sui-message :item="schemas"></sui-message>'
})

</script>
</body>
</html>






