<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"></link>
<!-- 	<style type="text/css">
		.list {
			background-color: lightgrey;
			border: 1px groove grey;
			border-radius: 5px
		}
		span {
			background-color: lightblue;
		}
	</style> -->
</head>
<body>
<div id="app" class="container row">
<!-- 	<div class="row">
		<div class="col-4">
	<ul class="list-group">
		<li v-for="schema in schemas">
			<div class="btn btn-sm btn-light" @click="show=!show">{{schema}}</div>
			<ul v-if="show" class="btn-group-vertical">
				<li v-for="table in _.filter(tables, {table_schema: schema})" class="list">
					<div class="btn btn-sm btn-outline-info">{{table.table_name}}</div>
				</li>
			</ul>
		</li>
	</ul>			
		</div>
		<div class="col-8 alert alert-secondary">2</div>
	</div>

	<ul>
		<li v-for="table in tables">
			{{table}}
		</li>
	</ul> -->
	<div class="col-4">
		<ul class="list-group list-group-flush">
			<com-schema v-for="schema in schemas" :schema="schema" :tables="tables"></com-schema>
		</ul>
	</div>
	<div class="col-8">
		<com-attr></com-attr>
	</div>
</div>

<script type="text/javascript">

Vue.component('com-table', {
	data: function(){
		return {
			attr:'test'
		}
	},
	methods: {
		gonder(){alert(this.attr);}
	},
	props: ['table'],
	template:'<li class="list-group-item">'+
			 '<button class="btn btn-sm btn-light" @click="gonder">{{table.table_name}}</button></li>'
});

Vue.component('com-schema', {
	data: function(){
		return {
			show: false
		}
	},
	props:['schema','tables'],
	template:'<li class="list-group-item">'+
			 '<button class="btn btn-sm btn-warning" @click="show=!show">'+
			 '* {{schema}}</button>'+
			 '<div v-if="show">'+
			 '<ul class="list-group">'+
			 '<com-table v-for="table in _.filter(tables, {table_schema: schema})" :table="table"></com-table>'+
			 '</ul>'+
			 '</div>'+
			 '</li>'
});

Vue.component('com-attr', {
	props:['attr'],
	template:'<span style="background-color: red;">attr</span>'
});

var app = new Vue({
  el: '#app',
  data: {
    tables: <%- JSON.stringify(data) %>
  },
  computed: {
  	schemas() {
  		return _.uniqBy(this.tables.map(p=>p.table_schema));
  	}
  }
});

</script>
</body>
</html>






